.tab { 
   margin-left: 30px; 
}

body { 
    color: #fff;
    background-image: url(images/cafe.png), url(images/parchment.png);
    background-position:right bottom;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-color: #211813;
}


video-player {
   position:fixed;
   right: 0;
   top: 0;
}

a {
  color: #fcd86d;
}


h3 {
   color: #fcd86d;
   text-shadow: 2px 2px #000000;
}

toc {
  position: fixed;
  padding-left: 20px;
  width: 15%;
  background-color: #140f0c;
}

div p {
   font-size: 17px;
   width: 60%;
   text-shadow: 2px 1px 2px #000000;
}

.img-container {
   text-align:center;
}

hr {
  width: 60%;
  margin-top: 100px;
  margin-bottom: 50px;
}

#audio-container {
   position: fixed;
   top: 0;
   right: 0;
}