.tab { 
   margin-left: 30px; 
}

body { 
    color: #fff;
    background-image: url(images/cafe.png), linear-gradient(to bottom, rgba(64, 48, 48,0.2), rgba(0,0,0,0.4)), url(images/leather.png);
    background-position:right bottom;
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed;
    background-color: #3c2824;
}


video-player {
   position:fixed;
   right: 0;
   top: 0;
}

a {
  color: #fcd86d;
}

h1 {
   text-shadow: 2px 2px 2px #000000;
}

h2 {
   text-shadow: 2px 2px 2px #000000;
}

h3 {
   color: #fcd86d;
   text-shadow: 2px 2px #000000;
}

toc {
  position: fixed;
  padding-left: 20px;
  width: 15%;
  background-color: rgba(28, 18, 16,.6);
  border-style: double;
  border-color: #828282;
}

div p {
   font-size: 17px;
   width: 45%;
   text-shadow: 2px 1px 1px #000000;
}

.img-container {
   text-align:center;
}

hr {
  width: 40%;
  margin-top: 100px;
  margin-bottom: 50px;
}

#audio-container {
   position: fixed;
   top: 0;
   right: 0;
}